### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [95]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [96]:
count=purchase_data["Purchase ID"].unique()
count
players=len(count)
players
players_df=pd.DataFrame({"Total Players":[players]})
players_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [97]:
items=purchase_data["Item ID"].unique()
total_items=len(items)
avg_price=purchase_data["Price"].mean()
items_purchased=len(purchase_data["Purchase ID"])
total_revenue=purchase_data["Price"].sum()
items_df=pd.DataFrame({"Numbers of Unique Items":[total_items],"Average Price":[avg_price],"Number of Purchases":[items_purchased],"Total Revenue":[total_revenue]})
items_df["Average Price"]=items_df["Average Price"].astype(float).map("${:,.2f}".format)
items_df["Total Revenue"]=items_df["Total Revenue"].astype(float).map("${:,.2f}".format)
items_df

   Numbers of Unique Items Average Price  Number of Purchases Total Revenue
0                      183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [185]:
#Can't get to drop duplicates in SN
#purchase_data['Gender'].drop_duplicates()
percent=purchase_data["Gender"].value_counts("Female")*100
count=purchase_data["Gender"].value_counts()
gender_df=pd.DataFrame({"Total Count":count,"Percentage of Players":percent.astype(float).map("{:,.2f}%".format)})

gender_df

                       Total Count Percentage of Players
Male                           652                83.59%
Female                         113                14.49%
Other / Non-Disclosed           15                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [127]:
pur_price=purchase_data.groupby(['Gender'])
avg_pur_price=pur_price['Price'].mean()
pur_total=pur_price['Price'].sum()


gender_group=pd.DataFrame({"Purchase Count": count,"Average Purchase Price":avg_pur_price,"Total Purchase Value":pur_total})
gender_group["Average Purchase Price"]=gender_group["Average Purchase Price"].astype(float).map("${:,.2f}".format)
gender_group["Total Purchase Value"]=gender_group["Total Purchase Value"].astype(float).map("${:,.2f}".format)
gender_group

#couldn't find average purchase price per person. 
#Figure its the same problem i had with the previous data frame, where I couldn't isolate the unique SN names by gender.
#I think I need to do something with group get per gender, but I just couldn't wrap my brain around it.

,Purchase Count,Average Purchase Price,Total Purchase Value
Female,113,$3.20,$361.94
Male,652,$3.02,"$1,967.64"
Other / Non-Disclosed,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [171]:
bins=[5,10,14,19,24,29,34,39,45]
labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39",">40"]
age_df=pd.cut(purchase_data['Age'],bins,labels=labels)
total_age=age_df.value_counts()
percent_age=total_age/players*100
percent_age
age_data=pd.DataFrame({"Total Count":total_age,"Percentage of Players":percent_age})
age_data["Percentage of Players"]=age_data["Percentage of Players"].astype(float).map("{:,.2f}%".format)
age_data.sort_index(ascending=True)
age_data
#Even with sort_index, I couldn't figure out how to sort the index by ascending.

       Total Count Percentage of Players
20-24          365                46.79%
15-19          136                17.44%
25-29          101                12.95%
30-34           73                 9.36%
35-39           41                 5.26%
<10             32                 4.10%
10-14           19                 2.44%
>40             13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [174]:
purchase_data["Age Range"] = pd.cut(purchase_data["Age"], bins, labels=labels)
purchase_data.head()
age_group=purchase_data.groupby(["Age Range"])
age_avg_price=age_group['Price'].mean()
age_pur_total=age_group['Price'].sum()
age_summary=pd.DataFrame({"Purchase Count":total_age,"Average Purchase Price":age_avg_price,"Total Purchase Value":age_pur_total})
age_summary["Average Purchase Price"]=age_summary["Average Purchase Price"].astype(float).map("${:,.2f}".format)
age_summary["Total Purchase Value"]=age_summary["Total Purchase Value"].astype(float).map("${:,.2f}".format)
age_summary
#Again, couldn't calculate last column

       Purchase Count Average Purchase Price Total Purchase Value
10-14              19                  $2.68               $50.95
15-19             136                  $3.04              $412.89
20-24             365                  $3.05            $1,114.06
25-29             101                  $2.90              $293.00
30-34              73                  $2.93              $214.00
35-39              41                  $3.60              $147.67
<10                32                  $3.40              $108.96
>40                13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [221]:
countss=purchase_data['SN'].value_counts()
spenders_group=purchase_data['SN'].drop_duplicates()
spenders_group=purchase_data.groupby(['SN'])
avg_price_spenders=spenders_group['Price'].mean()
total_price_spenders=spenders_group['Price'].sum()
spenders_df=pd.DataFrame({"Purchase Count":countss,"Average Purchase Price":avg_price_spenders,"Total Purchase Value":total_price_spenders})

sorted_spenders_df=spenders_df.sort_values(by='Total Purchase Value',ascending=0)
sorted_spenders_df["Average Purchase Price"]=sorted_spenders_df["Average Purchase Price"].astype(float).map("${:,.2f}".format)
sorted_spenders_df["Total Purchase Value"]=sorted_spenders_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
sorted_spenders_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [246]:
new_purchase_data=purchase_data[["Item Name","Item ID","Price"]]
new_purchase_data_group=new_purchase_data.groupby(["Item ID","Item Name"])
popular_count=new_purchase_data['Item ID'].value_counts()
popular_total=new_purchase_data_group['Price'].sum()
#Got super stuck on this one|

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#i would have taken the above table if I had figured it out and would have done whatever_the_table_name_was.sort_values(by='Total Purchase Value',ascending=0)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80